@page{
	size:a4;
}

h1, h2 {
    page-break-after: avoid;
    page-break-before: always;
}
 

@font-face {
    font-family: 'Raleway Medium';
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
    font-family: 'Raleway Light';
    src: url(../fonts/Raleway/Raleway-Light.ttf);
}
    /**
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
    * http://cssreset.com
    */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font-family: 'Open Sans', sans-serif; */
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    /* display: block; */
    }
    html{
        width:100%;
       
    }
    body {
        /* line-height: 1; */
        /* font-family: 'Open Sans', sans-serif; */
        width:100%;
        position:relative;
        margin:0;
    }
    .scroller{
        overflow: scroll;
        padding: 5px;
        height: 100%;
    }

  
    h1{
        font-size:400%;
    }
    h2{
        font-size:200%;
    }
    h3{
        
        margin: 10px auto;
    }
    h4{
        font-size:120%;
        font-weight: 800;
        font-family:"Trebuchet MS";
        
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
	a, a:visited{
		text-decoration:none;
		color:inherit;
	}
	
  
  html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 98%;
  vertical-align: baseline;
  background: transparent;
}
body {
  /* line-height: 1; */
  width:100%;
  height:auto;
  /* user-select:none; */
  /* -webkit-user-select:none; */
  /*-moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;*/
  /* user-select:none; */
}
body > div#bodywrapper{
	/* overflow-x: hidden; */
	width: 100%;
	/* min-height:100%; */
	margin-bottom:70px;
	/* height:100%; */
	/* position: relative; */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  /* display: block; */
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
strong{
	font-weight:bold;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-transition: color 0.2s, background 0.2s;
  -moz-transition: color 0.2s, background 0.2s;
  -o-transition: color 0.2s, background 0.2s;
  transition: color 0.2s, background 0.2s;
  cursor:pointer;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
button > *{
	display:inline-block;
	vertical-align:middle;
}
input:not([type=checkbox]), textarea, button, div.btn{
	/* width:calc(100% - 4px); */
	font-family:'Raleway Medium';
	border:none;
	padding: 5px;
	margin:2px;
	box-sizing:border-box;
	font-size: 100%;
	transition:all ease-in-out 0.2s;
	
	border-bottom:1px solid gray;
	background:#f4f7fb;
}
input:not([type=checkbox])[disabled=disabled], textarea[disabled=disabled], button[disabled=disabled]{
	border:1px solid gray;
	background:transparent;
	color:gray;
}
button, input[type=submit], .btn{
	background:#3d70b2;
	color:white;
	padding:7px;
	border:0px;
	border: 2px solid #f4f7fb;
    outline: 2px solid #30588c00;
    cursor:pointer;
}
button:hover, input[type=submit]:hover, .btn:hover{
	background:#30588c;
}
button:active, input[type=submit]:active, .btn:active,
button:focus, input[type=submit]:focus, .btn:focus{
	border: 2px solid #f4f7fb;
    outline: 2px solid #30588c;
}


}
button > *{
	display:inline-block;
	vertical-align:middle;
	line-height:16px;
}

label{
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

textarea{
	border:1px solid #999999;
}


input::-webkit-input-placeholder{
	font-family:'Raleway Medium';
	font-size:14px;
}
input::-ms-input-placeholder {
	font-family:'Raleway Medium';
	font-size:14px;
}
input::-moz-placeholder{
	font-family:'Raleway Medium';
	font-size:14px;
}

input[disabled=disabled], button[disabled=disabled], .btn[disabled=disabled]{
	cursor:not-allowed;
}

input[type=number] + label, input.number + label,
input[type=number] + label + label, input.number + label + label
{
	width:0px;
    height:0px;
    line-height:0px;
    position:relative;
    left: -27px;
    top:3px;
    display:inline-block;
    vertical-align:text-top;
}
input[type=number] + label:after, input.number + label:after,
input[type=number] + label + label:after, input.number + label + label:after{
	font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #3d70b2;
    font-size: 16px;
    width:24px;
  	height:14px;
    position:relative;
	background:transparent;
    border:1px solid #c6c7ca;
	padding:3px;
	cursor:pointer;
	display:block;
	line-height:5px
}

input[type=number]:disabled + label:after, input.number:disabled + label:after,
input[type=number]:disabled + label + label:after, input.number:disabled + label + label:after{
	color: #8e8e8e;
	cursor:not-allowed;
	pointer-events:none;
}

input[type=number] + label:after, input.number + label:after{
	content: "\f106";
    top:-5px;
}

input[type=number] + label + label:after, input.number + label + label:after{
	content: "\f107";
    top:7px;

}

input[type=radio]{
  opacity:0;
  width:20px;
  height:20px;
}
input[type=radio] + label{
    width:0px;
    height:0px;
    line-height:0px;
    position:relative;
    left: -21px;
    top:2px;
    display:inline-block;
    vertical-align:text-top;
    pointer-events:none;
}
input[type=radio] + label:before{
   content: "\f10c";
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #5a6872;
    font-size: 20px;
    width:17px;
  	height:17px;
    position:relative;
    border-radius:50%;
    background:white;
    line-height:18px;
	display:block;
}

input[type=radio]:checked + label:before{
  content: "\f192";
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #3d70b2;
  
}

input[type=radio]:focus + label:before{
	box-shadow: 0px 0px 2px 2px #5ca3ff;
}

input[type=radio][disabled=disabled] + label:before{
	color: #5a687259;

}

input.cfl{
	cursor:initial
}
input.cfl + label{
    width:0px;
    height:0px;
    line-height:0px;
    position:relative;
    left: -27px;
    top:3px;
    display:inline-block;
    vertical-align:text-top;
}
input.cfl + label:before{
    content: "\f03b";
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #3d70b2;
    font-size: 12px;
    width:20px;
  	height:20px;
    position:relative;
    top:6px;
    border-radius:50%;
    background:transparent;
    border:1px solid #3d70b2;
	padding:3px;
	cursor:pointer;
}

input.date, input.datetime{
	cursor:initial
}
input.date + label, input.datetime + label{
    width:0px;
    height:0px;
    line-height:0px;
    position:relative;
    left: -25px;
    top:3px;
    display:inline-block;
    vertical-align:text-top;
}
input.date + label:before, input.datetime + label:before{
    content: "\f073";
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #3d70b2;
    font-size: 12px;
    width:20px;
  	height:20px;
    position:relative;
    top:6px;
	padding:3px;
	cursor:pointer;
}


select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	padding:5px 10px;
	padding-right:25px;
	background-color:#f4f7fb;
	cursor:pointer;
	border:0px;
	border-bottom:1px solid #5a6872;
}
select:active, select:focus{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline:none;
	border-bottom: 1px solid #f4f7fb;
	box-shadow: 0 2px 0 0 #3d70b2;
}
option:hover{
	color:#a06f40;
}

select + label{
	display:inline-block;
	vertical-align:text-top;
	pointer-events:none;
	width:0px;
	height:0px;
	position:relative;
	line-height:0px;
	left:-23px;
}

select + label:after{
	content:"\f078";
	display:block;
	width:20px;
	height:20px;
	font-size:12px;
	font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height:20px;
}

input[type=checkbox]{
/* opacity: 0.5; */
/* width:20px; */
/* height: 20px; */
/* position:relative; */
/* margin:0px; */
}

input[type=checkbox].switch{
	/* width:60px; */
	height:30px;
	vertical-align:middle;
}

input[type=checkbox][disabled=disabled] + label:after{
	border-color:#5a6872;
	background:white;
}
input[type="checkbox"] + label{
	height: 0px;
	padding:0px;
	position:relative;
	left: -22px;
	display:inline-block;
	vertical-align:text-top;
	width:0px;
	pointer-events:none;
	color:white;
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
}

input[type="checkbox"].switch + label{
	top:-30px;
	left:-30px;
}

input[type="checkbox"] + label:after{
	content:"";
  pointer-events:none;
  position: relative;
  height:20px;
  width:20px;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 20px;
  display:block;
  border:2px solid black;
  background-color: #3d70b2;
  border-color: #3d70b2;
}
input[type=checkbox]:checked + label::after, input[type="checkbox"]:checked + label::after{
	content:"\f00c";
}

input[type="checkbox"]:not(.switch):focus + label:after{
  box-shadow: 0px 0px 2px 2px #5ca3ff;
}


input[type="checkbox"].switch + label{
	font-family:'Raleway Medium';
	border:1px solid gray;
	border-radius:15px;
	display: inline-block;
	width:60px;
	height:30px;
	position:relative;
	vertical-align:middle;
	top:0;
	left:-60px;
	line-height:40px;
	-webkit-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fcf7+0,f5f9f0+100;L+Green+3D */
	background: #f9fcf7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9fcf7 0%, #f5f9f0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f9fcf7 0%,#f5f9f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */
	box-sizing:border-box;
}
input[type="checkbox"].switch + label::after{
	font-family:'Raleway Medium';
	content: "O";
	display:inline-block;
	position:absolute;
	font-style: normal;
	font-weight: normal;
	font-size:20px;
	text-decoration: inherit;
	top:-1px;
	left:initial;
	right:calc(100% - 30px);
	width:30px;
	height:100%;
	line-height:30px;
	border:1px solid #aaaaaa;
	border-radius:15px;
	text-align:center;
	-webkit-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
	background-position:0%;
}
input[type=checkbox].switch:checked +label::after{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
background: #00b7ea; /* Old browsers */
background: -moz-linear-gradient(top,  #5ca3ff 0%, #3d70b2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #5ca3ff 0%,#3d70b2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #5ca3ff 0%,#3d70b2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
	
}
input[type=checkbox].switch:checked + label::after{
	content:'I';
	right:-2px;
}