body{
	user-select: none;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
	background-color: #39bfd3;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}



.column {
	width: 170px;
	float: left;
	padding-bottom: 100px;
}
.portlet {
	margin: 0 1em 1em 0;
	padding: 0.3em;
}
.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
}
.portlet-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}
.portlet-content {
	display: none;
	padding: 0.4em;
}
.portlet-content-menu {
	padding: 0.4em;
}
.portlet-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
}



.box {
	font-size: 1.25rem; /* 20 */
	background-color: #c8dadf;
	position: relative;
	padding: 100px 20px;
}
.box.has-advanced-upload {
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;

	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box.is-dragover {
	outline-offset: -20px;
	outline-color: #c8dadf;
	background-color: #fff;
}
.box__dragndrop,
.box__icon {
	display: none;
}
.box.has-advanced-upload .box__dragndrop {
	display: inline;
}
.box.has-advanced-upload .box__icon {
	width: 100%;
	height: 80px;
	fill: #92b0b3;
	display: block;
	margin-bottom: 40px;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input,
.box.is-aborting .box__input{
	visibility: hidden;
}

.box__uploading,
.box__success,
.box__error,
.box__aborting{
	display: none;
}
.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error,
.box.is-aborting .box__aborting{
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
}
.box__uploading {
	font-style: italic;
}
.box__success {
	-webkit-animation: appear-from-inside .25s ease-in-out;
	animation: appear-from-inside .25s ease-in-out;
}
@-webkit-keyframes appear-from-inside {
	from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
	75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
	to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside {
	from	{ transform: translateY( -50% ) scale( 0 ); }
	75%		{ transform: translateY( -50% ) scale( 1.1 ); }
	to		{ transform: translateY( -50% ) scale( 1 ); }
}

.box__restart {
	font-weight: 700;
	color: black;
}
.box__restart:focus,
.box__restart:hover {
	color: #39bfd3;
}

.js .box__file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.js .box__file + label {
	max-width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}
.js .box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong {
	color: #39bfd3;
}
.js .box__file:focus + label,
.js .box__file.has-focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.js .box__file + label * {
	/* pointer-events: none; */ /* in case of FastClick lib use */
}

.no-js .box__file + label {
	display: none;
}

.no-js .box__button {
	display: block;
}
.box__button {
	font-weight: 700;
	color: #e5edf1;
	background-color: #39bfd3;
	display: none;
	padding: 8px 16px;
	margin: 40px auto 0;
}
.box__button:hover,
.box__button:focus {
	background-color: #0f3c4b;
}


ul.menu div{
	/* width:100%; */
	position:absolute;
	min-width:1000px;
	left:100%;
	/* top: 0px; */
}

ul.menu li{
	padding:0px 5px;
	padding-right:15px;
}

form{
	width:100%;
}

#settings .row.values:nth-child(even){
	background:aliceblue;
}
ul.menu ul{
	position:absolute;
	border:1px solid black;
	border-radius: 0px 5px 5px 5px;
	padding:0px;
	width:100%;
	border:1px solid #565656;
	box-sizing:border-box;
	padding:5px 2px;
	
	box-shadow: -webkit-box-shadow: 3px 2px 8px 2px rgba(33, 33, 33, 0.5);
	-moz-box-shadow:3px 2px 8px 2px rgba(33, 33, 33, 0.5);
	box-shadow: 3px 2px 8px 2px rgba(33, 33, 33, 0.5);
	
}

ul.menu li > div ul{
	display:none;
	width:auto;
	left:-10px;
	top:-20px;
	background:white;
	box-sizing:border-box;
}

ul.menu li:hover > div > ul{
	display: inline-block;
}


@font-face {
    font-family: 'Raleway Medium';
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
    font-family: 'Raleway Light';
    src: url(../fonts/Raleway/Raleway-Light.ttf);
}
/* Chrome, Safari, Opera */
@-webkit-keyframes containerWide {
	0% {margin-left:250px;}
    100% {margin-left:0px;}
}

/* Standard syntax */
@keyframes containerWide {
	0% {margin-left:250px;}
    100% {margin-left:0px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeOutError {
	0% {opacity:1;height:20%;}
	99%{height:20%;padding-bottom:10px;visibility:initial;}
    100% {opacity:0; height:0;padding-bottom:0px;visibility:collapse;}
}

/* Standard syntax */
@keyframes fadeOutError {
	0% {opacity:1;height:20%;}
	99%{height:20%;padding-bottom:10px;visibility:initial;}
    100% {opacity:0; height:0;padding-bottom:0px;visibility:collapse;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes containerNormal {
	0% {margin-left:0px;}
    100% {margin-left:250px;}
}

/* Standard syntax */
@keyframes containerNormal {
	0% {margin-left:0px;}
    100% {margin-left:250px;}
}

@-webkit-keyframes navFadeIn {
  from {
    opacity: 0;
    visibility:visible;
  }

  to {
    opacity: 1;
    visibility:visible;
  }
}

/*progress circle*/
@keyframes progress {
	0% {
		stroke-dasharray:0 100;
	}
}

@keyframes navFadeIn {
  from {
    opacity: 0;
    visibility:visible;
  }

  to {
    opacity: 1;
    visibility:visible;
  }
}

@-webkit-keyframes navFadeOut {
  from {
  	visibility:visible;
   	opacity:1;
   	bottom:0;
  }
  99%{
  	visibility:visible;
  	opacity:0;
  	bottom:0;
  }
  100% {
    visibility:hidden;
    opacity:0;
    bottom:100%;
  }
}

@keyframes navFadeOut{
  from {
  	visibility:visible;
   	opacity:1;
   	bottom:0;
  }
  99%{
  	visibility:visible;
  	 opacity:0;
  	 bottom:0;
  }
  100% {
   opacity:0;
    visibility:hidden;
    bottom:100%;
    
  }
}


@-webkit-keyframes highlight {
  from {
  	
  }
  
  100% {
    -webkit-box-shadow: 0px 0px 8px 3px  rgba(0,153,255,1);
	-moz-box-shadow:0px 0px 8px 3px  rgba(0,153,255,1);
	box-shadow: 0px 0px 8px 3px rgba(0,153,255,1);
  }
}

@keyframes highlight{
  from {
  	visibility:visible;
   	opacity:1;
   	bottom:0;
  }
  100% {
    -webkit-box-shadow: 0px 0px 8px 3px  rgba(0,153,255,1);
	-moz-box-shadow:0px 0px 8px 3px  rgba(0,153,255,1);
	box-shadow: 0px 0px 8px 3px rgba(0,153,255,1);
  }
}
.ui-widget-header{
	background-color: #7ca9e4;
	color:white;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{

}

.percentageCircle .circlePath{
	
}

.nb-red-shadow{
	-webkit-box-shadow: 0px 0px 3px 3px #d0161696;
	-moz-box-shadow:0px 0px 3px 3px #d0161696;
	box-shadow: 0px 0px 3px 3px #d0161696;
}
.nb-orange-shadow{
	-webkit-box-shadow:  0px 0px 3px 3px rgba(255, 165, 0, 0.77);
	-moz-box-shadow:  0px 0px 3px 3px rgba(255, 165, 0, 0.77);
	box-shadow:  0px 0px 3px 3px rgba(255, 165, 0, 0.77);
}
.nb-blue-shadow{
	-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 153, 255, 0.51);
	-moz-box-shadow:0px 0px 3px 3px rgba(0, 153, 255, 0.51);
	box-shadow: 0px 0px 3px 3px rgba(0, 153, 255, 0.51);
}
.nb-green-shadow{
	-webkit-box-shadow: 0px 0px 3px 3px #67d016;
	-moz-box-shadow: 0px 0px 3px 3px #67d016;
	box-shadow: 0px 0px 3px 3px #67d016;
}


.nb-red-underline{
	-webkit-box-shadow: 0px 2px 0px 0px #d0161696;
	-moz-box-shadow:0px 2px 0px 0px #d0161696;
	box-shadow: 0px 2px 0px 0px #d01616;
}
.nb-orange-underline{
	-webkit-box-shadow:  0px 2px 0px 0px rgba(255, 165, 0, 0.77);
	-moz-box-shadow: 0px 2px 0px 0px rgba(255, 165, 0, 0.77);
	box-shadow: 0px 2px 0px 0px rgba(255, 165, 0, 0.77);
}
.nb-blue-underline{
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0, 153, 255, 0.51);
	-moz-box-shadow:0px 2px 0px 0px rgba(0, 153, 255, 0.51);
	box-shadow: 0px 2px 0px 0px rgba(0, 153, 255, 0.51);
}
.nb-green-underline{
	-webkit-box-shadow: 0px 2px 0px 0px #67d016;
	-moz-box-shadow: 0px 2px 0px 0px #67d016;
	box-shadow: 0px 2px 0px 0px #67d016;
}

/*table*/

.nb-table-scroll{
	/* padding:2px; */
	padding-bottom:30px;
	border:1px solid #b3b3b3;
	border-radius:5px;
}

.nb-table-scroll table tr.selected td{
	background:#ffc80061;
}

.nb-table-scroll-body{
	position:relative;
	overflow:auto;
	width:100%;
	height: 100%;
}

.nb-table-scroll-body table thead{
	height:0px;
	/* display:none; */
}


.nb-table-scroll-body table thead th{
	height:0px;
	white-space:nowrap;
	margin:0px;
	padding:0px;
}


.nb-table-wrapper, .nb-table-scroll{
	clear:both;
	position:relative;
	width:100%;
	height:100%;
}

.nb-table-head{
	position:relative;
	top:0;
	background:white;
	overflow:hidden;
	width:100%;
}
.nb-table-head-inner{
	position:relative;
	
}

.nb-table-head-inner th{
	/* padding:5px 0px; */
	border-bottom:1px solid #b3b3b3;
	background:rgb(239, 239, 239);
}

.nb-table-head-inner th, .nb-table-scroll-body td{
		border-right:1px solid #b3b3b3;	
}

/*table*/

section.device{
	padding:20px 10px;
	border-bottom:1px solid black;
	outline:transparent 20px solid;
	position:relative;
}

.device .settings_button{
	position:absolute;
	top:0;
	right:0;
	font-size:2em;
	padding:10px;
	
}

.id, .name, .type_name, .model_name{
	font-size:1.5em;
}

.speed, .temperature, .humidity, .pressure{
	font-size:3.5em;
}

.measure_unit{
	font-size:1.2em;
}

.device .specific{
	border:1px solid gray;
	padding:10px;
}

body{
	font-family:'Raleway Medium';
	position:relative;
}
a{
	color:#2ba2c4;
}
#sumAllTable{
	margin:10px 0px;
}
#sumAllTable td, #sumAllTable th{
	border:1px solid black;
}
#sumAllTable th{
	font-size:18px;
	text-align:right;
	padding:5px;
}
#sumAllTable td{
	font-size:16px;
}
/*Menu*/
#menuButton{
	/* position:absolute; */
	top:0;
	left:0;
	display:none;
}
#menuButton i{
	font-size:20px;
	padding:5px;
}
#forgotPassLink{
	padding:10px 0px;
	display:block;
	margin:10px 0px;
	border-bottom:1px solid #2ba2c4;
	border-top:1px solid #2ba2c4;
	
}
p.hint{
	font-size:85%;
}

footer{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	height:60px;
	background:black;
	color:white;
}

.head > div{
	float:none;
	display:inline-block;
	vertical-align:text-top;
	margin:0px;
	margin:0% 1% 0% 0%;
}
.head > div.last{
	margin:0px;
}
.head .col2{
	width:calc(98%/6);
}
.head .col8{
	width:calc(98%/1.5);
}
#headerLogo{
	/* max-height:100px; */
	position:relative;
	text-align:center;
	padding:0px 1%;
	box-sizing:border-box;
	padding-right:0px;
	padding-top:5px;
}
#headerLogo img{
	max-width:100%;
	max-height:100%;
	display: inline-block;
}
.head{
	position:relative;
	background-color:rgba(0,0,0,0.3);
	color:white;
	padding:0px;
}
.head.admin{
	background-color:rgba(213,100,0,1);
}
#userContainer{
	top:-5px;
	right: 0%;
	background:rgba(255,255,255,0.9);
	color:black;
	font-size:90%;
}
#userContainer > div{
	vertical-align:text-top;
}
#userContainer span{
	display:inline-block;
	float:none;
	vertical-align:text-top;
}
#userContainer span:nth-child(1) div{
	max-width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
}
#logout_button{
	/* margin-left:5px; */
	/* margin-right:5px; */
}
#logout_button i{
	font-size:20px;
	padding: 5px;
}

.head > div:nth-child(2){

	
}
.selectable > li{
	padding:5px;
	display:block;
	position:relative;
}
.selectable .ui-selected{
	background:#ffc355;
	font-weight:bold;
}
.selectable .ui-selected:after{
	font-family:FontAwesome;
    font-weight: 900;
    content:" \f00c";
    position:absolute;
    right:0;
	margin-right:5px;
}

/*percentage circle starts*/
.percentageCircle{
	display: block;
	margin: 10px auto;
	max-width: 80%;
	max-height: 250px;
}
/* percentage circle end */

/*progressbar label text start*/

div#progress + label {
	height: auto;
	position: relative;
	left: 42.5%;
	top: -20px;
	z-index: 1;
	width: auto;
}

/*progressbar label text end*/

/*sorted arrow start*/
label.sortedArrow{
    position: absolute;
}
/*sorted arrow end*/

/*search icon start*/
label.searchicon{
	position: absolute;
	right:10px;
	top:5px;
}
/*search icon end*/

/*datatable page number start*/
.focus {
	background-color: #2ba2c4;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}
/*datatable page number end*/

#top #admin_lang{
	background-color:white;
	margin:10px 10px 0px 10px;
}

nav.headerNav{
	position:relative;
}
nav.headerNav ul{
	top:0;
	bottom:0;
	/* position:absolute; */
	/* width:100%; */
}
nav.headerNav li{
	position:relative;
	display:inline-block;
	padding-top:8%;
	padding-left:5px;
	padding-right:5px;
}
nav.headerNav li a{
	padding-top: 60%;
	position:relative;
	z-index: 3;
}
nav.headerNav li.active{
	
}

li.active {}
nav.headerNav li.active:before{
	content:'';
	background:#a46418;
	width:100%;
	height:100%;
	position:absolute;
	display:block;
	top:0;
	left:0;
	z-index: 1;
}
.head.admin nav.headerNav li.active:before{
	background:rgba(0,0,0,0.6);
}

.head.fixed{
	position:fixed;
	top:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.75);
	-webkit-transition:all ease 0.3s;
	-moz-transition:all ease 0.3s;
	-ms-transition:all ease 0.3s;
	-o-transition:all ease 0.3s;
	transition:all ease 0.3s;
	animation-duration:0.3s;
	z-index:3;
}
.head.fixed.admin{
	background:rgba(213,100,0,0.95);
}

.head.fixed > div{
	vertical-align:text-bottom;
}
.head.fixed > div.col10{
	width:68%;
}
.head.fixed > div.col2:nth-child(1){
	width:7%;
}
.head.fixed #userContainer{
	position:relative;
	margin-right:0;
}
.head.fixed #headerLogo{

}

.head.fixed .headerNav li{
	padding-top:initial;
}

/*#Menu*/


.dl-menuwrapper button, .dl-menuwrapper button.dl-active{
	background: #3d70b2;
}

.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul{
	background: #3d70b2;
}

.nb-notification {
	padding:10px;
	padding-left:70px;
	padding-right:30px;
	position:relative;
	text-align:left;
	min-height:40px;
}

.nb-notification__icon, .nb-notification__text-wrapper, .nb-notification__close-button, .nb-notification__close-icon{
	display:inline-block;
}

.nb-notification__title{
	font-weight:bold;
}

.nb-notification__icon{
	position:absolute;
	left:10px;
}

.nb-notification__close-button, .nb-notification__icon{
	top:50%;
	line-height:0px;
	transform:translateY(-50%);
}

.nb-notification__close-button, .nb-notification__close-button:hover, .nb-notification__close-button:active, .nb-notification__close-button:focus{
	position:absolute;
	right:0;
	background:initial;
	border:initial;
	outline:none;
}

.nb-notification__close-button{
	width:40px;
	height:40px;
}

.nb-notification.info{
	border:1px solid;
	border-left:4px solid;
	border-color:#5aaafa;
}

.nb-notification.info .nb-notification__icon{
	fill:#5aaafa;
}

.nb-notification.error{
	border:1px solid;
	border-left:4px solid;
	border-color:#e0182d;
}

.nb-notification.error .nb-notification__icon{
	fill:#e0182d;
}

.nb-notification.success{
	border:1px solid;
	border-left:4px solid;
	border-color:#5aa700;
}

.nb-notification.success .nb-notification__icon{
	fill:#5aa700;
}


.nb-notification.warning{
	border:1px solid;
	border-left:4px solid;
	border-color:#efc100;
}

.nb-notification.warning .nb-notification__icon{
	fill:#efc100;
}

#dl-menu{
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}

#dl-menu > .dl-trigger{
	pointer-events:all;
}


#dl-menu .dl-menuopen{
	pointer-events:all;
}

.nb-notification__subtitle{
    margin:0;	
}

#rfidList .col-6 .message{
	max-height:80px;
	min-height:80px;
	overflow:auto;
	position:relative;
}

#rfidList .col-6 .message > .container-fluid{
	position:absolute;
	background:white;
}

.rfid{
	font-size:25px;
	border:1px solid black;
	min-height:30px;
	line-height:28px;
	text-align:center;
	margin-left:20px;
	position:relative;
	box-sizing:border-box;
}

.rfid:after{
	display:block;
	position:absolute;
	width:30px;
	height:30px;
	border:1px solid black;
	border-radius:50%;
	content:'';
	top:-1px;
	box-sizing:border-box;
	left:-15px;
	background-color:white;
}

.rfid.read:after{
	background-color:#8BC34A;
}

#networkInformation{
	position:relative;
	display:inline-block;
}

.networkSystemMode{
	font-size:10px;
	font-weight:bold;
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
}


.serviceProvider{
	padding-top:10px;
	display:inline-block;
}


.signalStrength{
	stroke-width:1px;
	stroke:black;
}

.signalStrength{
	width:30px;
	height:30px;
	display:inline-block;
	fill:transparent;
}

.signalStrength .Marginal *:nth-child(1){
	fill:black;
}

.signalStrength .OK *:nth-child(1), .signalStrength .OK *:nth-child(2){
	fill:black;
}
.signalStrength .Good *:nth-child(1), .signalStrength .Good *:nth-child(2), .signalStrength .Good *:nth-child(3){
	fill:black;
}

.signalStrength .Excellent *:nth-child(1), .signalStrength .Excellent *:nth-child(2), .signalStrength .Excellent *:nth-child(3), .signalStrength .Excellent *:nth-child(4){
	fill:black;
}

#generalMessage{
	position:relative;
	background:white;
}

#gpsPositionContainer{
	position:fixed;
	bottom:0;
	min-height:50px;
	left:0;
	right:0;
	background:transparent;
	
}
#gpsPositionContainer .nb-notification__close-button,
#netContainer .nb-notification__close-button{
	display:none;
}


#netContainer{
	padding:0px;
	padding-left:120px;
	padding-right:10px;
	position:relative;
	text-align:right;
	right:0;
	background:transparent;
}

#netContainer .row{
	padding:0px;
}

#brightnessContainer{
	padding:10px;
	padding-left:30px;
	padding-right:30px;
	position:relative;
}
#brightnessContainer .slider{
	width:calc(100%);
	display:inline-block;
}

#brightnessContainer > span:nth-child(1), #brightnessContainer > span:nth-child(3){
	position:absolute;
}
#brightnessContainer > span:nth-child(3){
    left:0;
    top:25%;
}
#brightnessContainer > span:nth-child(1){
    right:0;
    top:25%;
}
#brightnessContainer .ui-slider-handle{
	background:#3d70b2;
}
	



.owor .loginForm{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	text-align: center;
	background:white;
	
}

.fa.toggleFullScreen{
	position:absolute;
	top:0;
	right:0;
	width:40px;
	height:30px;
	font-size:25px;
	border:1px solid black;
	text-align:center;
	line-height:30px;
}

.bold{
	font-weight: bold;
}

.owor .production_finish{
	width:calc(100% - 10px);
}

.owor .login{
	position:absolute;
	top:0;
	right:0;
}

.owor .masterdata{
	font-size:30px;
}

.owor .smoothie{
	width:100%;
	max-height:100px;
}
.actualOworList li{
	padding:5px;
	position:relative;
	border-top: 1px solid gray;
}
.actualOworList li:last-child{
	border-bottom:1px solid gray;
}
.actualOworList li .oworlistcheckbox{
	position:absolute;
	right:0;
	top:50%;
	transform:translateY(-50%);
	padding:20px;
}
.actualOworList .itemcode{
	font-size:120%;
	font-weight:bold;
}

.loading{
	position:relative;
}


.loading:after {
	content:"";
	display:block;
	position:absolute;
	right:50%;
	top:0px;
  border: 3px solid #f0f0f0;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  
  width:20px;
  height:20px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;

}
#contextmenu{
	background:white;
	border-radius:0px 10px 10px 10px;
	border:1px solid #565656;
	box-sizing:border-box;
	padding:5px 2px;
	-webkit-box-shadow: 3px 2px 8px 2px rgba(33, 33, 33, 0.5);
	-moz-box-shadow:3px 2px 8px 2px rgba(33, 33, 33, 0.5);
	box-shadow: 3px 2px 8px 2px rgba(33, 33, 33, 0.5);
}
#contextmenu li{
	border-bottom: 1px solid gray;
	cursor:pointer;
	list-style-type:none;
	font-weight:normal;
	color:black;
}
#contextmenu li:hover{
	font-weight:bold;
	color:white;
	background:#3d70b2;
}


#contextmenu li:last-child{
	border-bottom:0px;
	padding-bottom:5px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn{
	display:inline-block;
	padding:5px;
	cursor:pointer;
}
button:disabled, input[type=submit]:disabled{
	background:white;
	color:gray;
	border:1px solid gray;
}
button.green, input[type=submit].green{
	background:#98af3a;
	color:white;
}
button.showBarrels{
	width:60px;
}
fieldset{
	padding:5px;
	padding-top:15px;
	border:1px solid gray;
	margin:20px 0px;
	position:relative;
}
fieldset > legend{
	background:white;
	margin:0px auto;
	border:1px solid black;
	position:relative;
	padding:5px;
	/* position:absolute; */
	/* top:-15px; */
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
}
/*
fieldset:before{
	display:block;
	position:absolute;
	top:25px;
	left:0;
	right:0px;
	content:'';
	border-top:1px solid black;
}*/
table tr td{
	padding:3px 2px;
}
table tr:nth-child(2n) td, table tr:nth-child(2n) th{
	background:rgb(75, 195, 209, 0.3);
}
table tr td.numeric{
	text-align:right;
	white-space:nowrap;
}
table .detailbtn{
		display:none;
}

table tr.status td{
	background-color:initial;
}

.highlight{
	animation-fill-mode:both;
	animation-duration: 0.4s;
	animation-name: highlight;
}

.clearfix, .clrfx{
	*zoom:1;
	zoom:1;
}
.clearfix:after, .clrfx:after{
	display:block;
	height:1px;
	content:'';
	clear:both;
}
.light-font{
	font-family:'Raleway Medium';
}
.center-text{
	text-align:center;
}
.center-text > *{
	float:none;
	display: inline-block;
}
.right-text{
	text-align:right;
}
.left-text{
	text-align:left;
}
.pointer{
	cursor:pointer;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.flex{
	display:flex;
	flex:1;
	display:flex-box;
}
.flex-row{
	flex-flow:row wrap;
	align-content:space-between;
}
.flex-row > *{
	width:100%;
}
.flex-column{
	flex-flow:column wrap;
	align-content:space-between;
}
.inline-block-child > *{
	display:inline-block;
}
.inline-block{
	display:inline-block;
	float:none;
}
.inline-960{
	display:none !important;
}
.v-align-middle{
	vertical-align: middle;
}
.uppercase{
	text-transform:uppercase;
}
.capitalize{
	text-transform:capitalize;
}
.ellipsis{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.nowrap {
	white-space:nowrap;
}
.red-text{
	color:#ba1e36;
}
.red-bg{
	background-color:#ba1e36;
	color:white;
}
.line-trough{
	text-decoration:line-through;
}
.dark-red-text{
	color:#8b2d2d;
}
.bold{
	font-weight:bold;
}
.shadow-line{
	content:"";
	width:100%;
	height:0px;
	display:block;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}
.shadow-bottom{
	padding-bottom:10px;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}

.box {
	width:100%;
	padding-bottom:100%;
	position:relative;
}
.box > *:not(img){
	position:absolute;
	left:0;
	right:0;
	width:100%;
	height:100%;
}
.slider .slider-handle{
	width:30px;
	height:30px;
	top:-5px;
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #474747 39%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#474747 39%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#474747 39%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}
.slider .slider-track-high, .slider .slider-track-low{

	background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(137,137,137,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(137,137,137,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(137,137,137,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#898989',GradientType=0 ); /* IE6-9 */

}
.slider.slider-horizontal{
	height:40px !important;
}
.box > img{
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
	left:0;
	right:0;
	margin:0px auto;
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}
.box > img[src=""]{
	position:absolute;
}
.h-box-50{
	width:100%;
	height:50%;
	position:relative;
}
.h-box-50 > *:not(img){
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
}
.h-box-50 > img{
	max-width:100%;
	max-height:100%;
}
.m-b-10{
	margin-bottom:10px;
}
.m-b-20{
	margin-bottom:20px;
}
.m-b-30{
	margin-bottom:30px;
}
.m-b-40{
	margin-bottom:43px;
}
.m-l-80{
	margin-left:80px;
}
.p-l-80{
	padding-left:80px;
}

.font-70{
	font-size:70%;
}
.font-11{
	font-size:11px;
}

.title{
	font-size:30px;
	font-weight:100;
}
p.description{
	color:#999999;
	font-size:12px;
	line-height:16px;
	margin-top:20px;
}
.icon{
	width:42px;
	height:42px;
	display:inline-block;
}
.icon.lang{
	height:20px;
	display:inline-block;
	vertical-align:middle;
	margin:5px;
}
.lang-selector-container{
	position:relative;
	display:inline-block;
}
.lang-selector .fa-angle-down{
	font-size:30px;
	line-height:0;
	vertical-align:middle;
	position:relative;
	margin-right:10px;
}
.lang-selector-container .lang-selector-check{
	width:100%;
	height:100%;
	position: absolute;
	z-index: 3;
	visibility: visible;
	opacity: 0;
}
.lang-selector-container .lang-selector-check::before{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
	content:'';
	border:0px;
}
.lang-selector-check:checked + .lang-selector .lang-selector-l2{
	animation-name:fadeInDown;
	animation-delay:0s;
	animation-fill-mode:both;
	animation-duration:0.4s;
	display:block;
}
.lang-selector-check + .lang-selector{
	position:relative;
	box-sizing:border-box;
	display:inline-block;
}
.lang-selector .icon.lang{
	width:30px;	
}
.lang-selector-check + .lang-selector .lang-selector{
	height:0;
	overflow:visible;
	position:relative;
}
.lang-selector-check + .lang-selector .lang-selector-l2{
	animation-name: fadeOutUp;
	animation-duration:0.5s;
	-webkit-animation-duration:1s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
	position:relative;
	display:block;
	width:calc(100% - 20px);
	box-sizing:border-box;
	border:1px solid white;
	margin:0px;
	background:black;
	position: absolute;
	width:100%;
}

.icon.lang.hu{
	background:url('icons/lang/hu.png');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	

}



.icon.lang.en{
	background:url('icons/lang/en.png');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;

}

label.soft-input:after{
	font-family: FontAwesome;
	content: "\f11c";
	display: inline-block;
	width:20px;
	height: 20px;
}

.box-16_9{
	position: relative;
	width:80%;
	padding-bottom: 46.78%; /* 16:9 */
	padding-top: 25px;
}
.box-16-9{
	position: relative;
	width:100%;
	padding-bottom: 56.249%; /* 16:9 */
	padding-top: 25px;
	display:block;
}
.box-16-4{
	position: relative;
	width:100%;
	padding-bottom: 25%; /* 16:9 */
	padding-top: 25px;
	display:block;
}
.box-16-9 > *:not(img), .box-16-4 > *:not(img){
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.box-16-9 > img[src=""]{
	min-width:100px;
	position:absolute;
}
.box-16-9 > img, .box-16-4 > img{
	position:absolute;
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
	left:0;
	right:0;
	margin:0px auto;
	top:50%;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}
.box-16_9 iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.pd-10{
	padding:10px;
}
.info-box{
	padding-left:40px;
	min-height:40px;
	padding-top:10px;
	position:relative;
}
.info-box::before{
	content:'\f05a';
	font-family:FontAwesome;
	position:absolute;
	left:0px;
	top:0px;
	font-size:40px;
}
.info-wrapper, .error-wrapper{
	color:white;
	width:30%;
	height:20%;
	top:50%;
	left:0;
	right:0;
	margin:0px auto;
	z-index:20;
	padding:10px;
	position: fixed;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	text-align:center;
}
.info-wrapper{
	background:#98af3a;
	background:-moz-linear-gradient(top, #98af3a 0%, #67d016 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#98af3a), color-stop(100%,#67d016));
	background:-webkit-linear-gradient(top, #98af3a 0%,#67d016 100%);
	background:-o-linear-gradient(top, #98af3a 0%,#67d016 100%);
	background:-ms-linear-gradient(top, #98af3a 0%,#67d016 100%);
	background:linear-gradient(to bottom, #98af3a 0%,#67d016 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63e500', endColorstr='#67d016',GradientType=0);
}
.error-wrapper, .js-error-wrapper{
	color:white;
	background:#e24b00;
	background:-moz-linear-gradient(top, #e24b00 0%, #ce5316 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e24b00), 
	color-stop(100%,#ce5316));background:-webkit-linear-gradient(top, #e24b00 0%,#ce5316 100%);
	background:-o-linear-gradient(top, #e24b00 0%,#ce5316 100%);
	background:-ms-linear-gradient(top, #e24b00 0%,#ce5316 100%);
	background:linear-gradient(to bottom, #e24b00 0%,#ce5316 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e24b00', endColorstr='#ce5316',GradientType=0);
}
.error-wrapper, .js-error-wrapper, .info-wrapper, .warning-wrapper{
	animation-name:fadeOutError;
	animation-fill-mode:both;
	animation-delay:5s;
	animation-duration:0.5s;
}
.js-error-wrapper:before{content:'';position:absolute;top:-10px;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #e24b00;}
.js-error-wrapper{padding:0px 10px;box-shadow:2px 2px 5px 0px #000;}
label .js-error-wrapper{margin-left:-48px;margin-top:12px;}
.info-wrapper .close, .error-wrapper .close{
	width:4%;
	padding-bottom:4%;
	position:absolute;
	opacity:0.7;
	right:10px;
	/* text-align:right; */
}
.info-wrapper .close:hover, .error-wrapper close:hover{opacity:1;}
.info-wrapper .close svg, .error-wrapper .close svg{width:100%; height:100%;position:absolute; right:0;}
.info-wrapper .close svg line, .error-wrapper .close svg line{stroke-width:5;stroke:rgb(255, 255, 255);}
.info-wrapper .info, .error-wrapper .error{position:absolute;left:0;right:0;margin:0px auto;top:50%;transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);}

h2{
	padding:5px 0px;
	font-size:100%;
	margin:0px;
}
h1{
	padding:10px;
	font-size:200%;
	font-weight:100;
}

.has-upload{
	position:relative;
}
.has-upload{
	border:1px solid black;
}
.has-upload:after{
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:0px;
	width:100%;
	height:100%;
	box-sizing:border-box;
	border:4px dashed rgba(128,128,128,1);
	background:url('icons/drop.png') no-repeat center;
	background-size:25%;
	background-color:rgba(255,255,255,0.8);
	opacity:0;

}
.has-upload.is-dragover:after{
	opacity:1;
}
.progress{
	position:absolute;
	z-index:2;
	background:rgba(255,255,255,0.5);
	width:100%;
	box-sizing:border-box;
	text-align:center;
	max-width:100%;
	bottom:0;
	font-size:12px;
}
.progress .value{
	width:0px;
	min-width:45px;
	max-width:100%;
	box-sizing:border-box;
	background-color:white;
	border:1px solid black;
	height:30px;
	line-height:30px;
}
.progress .close{
	width:15px;
	padding-bottom:15px;
	position:absolute;
	top:10px;
	right:0;
	opacity:0.7;
	right:10px;
	/* text-align:right; */
}
.progress .close:hover {opacity:1;}
.progress .close svg{width:100%; height:100%;position:absolute; right:0;}
.progress .close svg line{stroke-width:7;stroke:rgb(0, 0, 0);}
.progress-circle-container{
	position:relative;
	display:inline-block;
	width:200px;
	height:200px;
}
.progress-circle{
	position:absolute;
	width:100%;
	height:100%;
}
.progress-circle-container .uo-percent{
	position:absolute;
	top:50%;
	left:0;
	right:0;
	width:50%;
	margin:0px auto;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}
.pc-progress{
	/**/ 
	stroke-dasharray: 0 314;
	transform-origin:center;
	transform:rotate(-90deg);
}

#uo_percent, .uo_percent{
	position:absolute;
	top:50%;
	line-height:0;
	left:0;
	right:0;
	margin:0px auto;
	text-align:center;
}

img[src=""]{
	width:200px;
	border:0px;
	position:relative;
	height:100px;
}
img[src=""]:after{
	font-family:"FontAwesome";
	position:absolute;
	top:50%;
	left:0;
	right:0;
	margin:0px auto;
	content:"\f03e";
	display:inline-block;
	text-align:center;
	line-height:0;
	font-size:100px;
}

#top{
	padding:15px 10px;
	/* position:absolute; */
	top:0;
	left:0;
	right:0;
	z-index:19;
	background:black;
	color:white;
	overflow:visible;
	padding-bottom:0px;
	margin-bottom:10px;
	 -webkit-box-shadow: 0px 0px 8px 3px  rgba(0,0,0,1);
	-moz-box-shadow:0px 0px 8px 3px  rgba(0,0,0,1);
	box-shadow: 0px 0px 8px 3px rgba(0,0,0,1);
}
a.button-facebook {
	background-color: #2b4170; /* fallback color */
	background: -moz-linear-gradient(top, #3b5998, #2b4170);
	background: -ms-linear-gradient(top, #3b5998, #2b4170);
	background: -webkit-linear-gradient(top, #3b5998, #2b4170);
	border: 1px solid #2b4170;
	text-shadow: 0 -1px -1px #1f2f52;
	color:white;
	border-radius:5px;
	padding:10px 15px;
	box-sizing:border-box;
	display:inline-block;
	text-align:center;
	margin:0px auto;

}
a.button-facebook:hover {
	background-color: #3b5998; /* fallback color */
	background: -moz-linear-gradient(top, #2b4170, #3b5998);
	background: -ms-linear-gradient(top, #2b4170, #3b5998);
	background: -webkit-linear-gradient(top, #2b4170, #3b5998);
}
a.button-facebook i{
	margin-right:10px;
}
a.showBarrelList{
    background-color: #a46418; /* fallback color */
	background: -moz-linear-gradient(top, #a46418, #a46418);
	background: -ms-linear-gradient(top, #a46418, #a46418);
	background: -webkit-linear-gradient(top, #a46418, #a46418);
	border: 1px solid #a46418;
	text-shadow: 0 -1px -1px #1f2f52;
	color:white;
	border-radius:0px;
	padding:5px 5px;
	box-sizing:border-box;
	display:inline-block;
	text-align:center;
	margin:0px auto;
}
a.showBarrelList:hover {
	padding:7px 7px;
	background-color: #a46418; /* fallback color */
	background: -moz-linear-gradient(top, #a46418, #a46418);
	background: -ms-linear-gradient(top, #a46418, #a46418);
	background: -webkit-linear-gradient(top, #a46418, #a46418);
}
#top.fixed{
	position:fixed;
	top:0px;
}
#top > div{
	display:inline-block;
	float:none;
	/* width:auto; */
}
#top > div:last-child{
	text-align:right;
}


#wrapper{
	/* margin-left:250px; */
}
#wrapper > div{
	margin-top: 66px;
	padding-bottom: 10px;
}
#menu-button{
	padding:10px;
}
#ui-datepicker-div{
	padding:10px;
}
.ttm-breadcrumb li{
	display:inline-block;
}
.ttm-breadcrumb li a{
	color:black;
}
.ttm-breadcrumb li.active a{
	color:#3b5998;
	display:inline-block;
	vertical-align:middle;
}
.ttm-breadcrumb li i{
	font-size:20px;
	display:inline-block;
	vertical-align:middle;
	padding:0px 10px;
	
}
.num-pager{
	font-size:30px;
}
.num-pager .active{
	color:#c32f2f;
}
.treeView{
	overflow:hidden;
}
.treeView span{
	cursor:pointer;
}
.treeView span + ul{
	display:none;
}
.treeView span.open + ul {
	display:block;
}
.treeView ul{
	padding-left:10px;
}
.treeView i{
	font-size:20px;
	padding:5px;
}
.profile-picture{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:40px;
	height:40px;
	border-radius:50%;
	overflow:hidden;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}
.addRow i{
	font-size:30px;
}
.profile-picture i{
	position:absolute;
	left:0;
	right:0;
	display:inline-block;
	width:auto;
	margin:0px auto;
	text-align:center;
	line-height:0;
	top:35%;
}
.inviteTree .fa-arrow-circle-o-right{
	transition:all 0.2s ease-in-out;
}
.inviteTree .open .fa-arrow-circle-o-right{
	transform:rotate(90deg);
}
.inviteTree .icon-n-percent{
	display:inline-block;
	position:relative;
}
.inviteTree {
	padding:10px;
}
.inviteTree .treeView li{
	padding-top:5px;
	padding-bottom:5px;
}
.inviteTree li{
	margin-top:5px;
}
.inviteTree .progress-circle-container{
	width:50px;
	height:50px;
	vertical-align:middle;
	position:absolute;
	left:-5px;
	top:-5px;
}
.inviteTree .pc-progress{
	stroke-width:5;
}
.inviteTree .uo-percent{
	font-size:10px;
}
.prevNextButtonWrapper{
	position:fixed;
	top:calc(50% + 33px);
	height:0px;
	width:100%;
	overflow:visible;
	z-index:20;

}
.prev-button, .next-button{
	width:30px;
	height:80px;
	position:absolute;
	background:rgba(0,0,0,0.7);
	padding:10px;
	transition:all 0.2s ease-in-out;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
	opacity:0.5;
}
.prev-button:hover, .next-button:hover{
	opacity:1;
}
.prev-button:hover .prevNextButtonTitle, .next-button:hover .prevNextButtonTitle{
	opacity:1;
}
.prev-button{
	left:20px;
}
.next-button{
	right:20px;
}
.prev-button line, .next-button line{
	stroke:white;
	stroke-width:2;
}
.prev-button .prevNextButtonTitle{
	left:50px;
}
.next-button .prevNextButtonTitle{
	right:50px;
}
.prevNextButtonTitle{
	position:absolute;
	width:auto;
	display:inline-block;
	top:50%;
	opacity:0;
	/* background:rgba(0,0,0,0.7); */
	/* color:white; */
	font-weight:100;
	padding:10px;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
	transition:all ease-in-out 1s;
	background:white;
}
#productDescriptionButton{
	cursor:pointer;
}
#productDescriptionButton.open{
	color:white;
	background:black;
}
#productDescription{
	height:200px;
	overflow:hidden;
}
#productDescription.open{
	height:auto;
}
#productDescription.open:after{
	display:none;
}
#productDescription:after{
	content:"";
	height:100px;
	width:100%;
	position:absolute;
	bottom:0px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(white));
	background-image: -webkit-linear-gradient(transparent, white);
	background-image: -moz-linear-gradient(transparent, white);
	background-image: -o-linear-gradient(transparent, white);
	background-image: linear-gradient(transparent, white);
}
.productOfferContainer input, .productOfferContainer label{
	display:inline-block;
	vertical-align:middle;
	width:calc(25% - 20px);
}
.flexslider .slides img{
	width:auto;
}
#video-container{	
	position:relative;
	clear:both;
	overflow:hidden;
}
.player-16-9{
	position:relative;
	width:15%;
	padding-bottom:8.43%;
}
.player-16-9 > *:not(img){
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.player-16-9 > img{
	max-width:100%;
	position:absolute;
	top:50%;
	left:0;
	right:0;
	margin:0px auto;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}
#player-container{
	position:relative;
	display:inline-block;
	resize:vertical;
	vertical-align:middle;
}
#video-container.fixed{
	position:fixed;
	top:0px;
	z-index:19;
	display:inline-block;
	height:0px;
	overflow:visible;
	left:0;
	right:0;
	margin:0px auto;
	width:auto;
}
#video-container.fixed .player-info{
	display:none;
}

#player-container .triangle-container{
	display:none;
	width:100%;
	height:calc(100% - 66px);
	bottom:0px;
	position:absolute;
	top:initial;
	
}
#video-container.fixed .triangle-container{
	display:block;
}
#player-container .triangle-container .player-container-before, #player-container .triangle-container .player-container-after{
	position:absolute;
	height:100%;
	width:25%;
}
#player-container .triangle-container .player-container-before{
	left:-25%;
}
#player-container .triangle-container .player-container-after{
	right:calc(-25% + 1px);
}
#player-wrapper{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index: 15;
	background:transparent;
}
.player-info{
	display:inline-block;
	width:42%;
	vertical-align:middle;
	font-size:17px;
}
.player-info .animated{
	display:inline-block;
}
.player-info i{
	padding:5px 10px;
}
#video-view-fav + i{
	cursor:pointer;
}
#video-container .progress-circle-container{
	max-width:100px;
	max-height:100px;
}
#video-coupon-container{
	cursor:pointer;
}
.video-category{
	
	display:inline-block;
	position:relative;
	border:1px solid black;
	margin:5px;
}
.video-category .close{
	position:relative;
	background:black;
	width:40px;
	padding-bottom:40px;
	right:0;
	top:0;
	cursor:pointer;
	display:inline-block;
	vertical-align:middle;

	margin-left:10px;
}
.video-category .name{
	padding-left:10px;
}
.video-category .close svg{
	position:absolute;
	stroke:white;
	stroke-width:5;
	width:calc(100% - 20px);
	height:calc(100% - 20px);
	top:0;
	left:0;
	margin:10px;
}
.video-list .col3{
	border:1px solid gray;
}
.video-list .col3:nth-child(3n + 4){
	margin-right:0px;
}
.video-list .col3:nth-child(3n + 5){
	clear:both;
}
.video-list .video-image img{
	border:0px;
}
.video-list .video-image img:after{
	background:url('icons/youtubeplay.png');
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	content:"";
	width:80px;
	height:100%;
	top:0;
	border:0px;
}
.video-description{
	text-align:center;
	font-weight:100;
	background:rgba(0,0,0,0.1);

}
.search-container{
	position:relative;
	padding-right:60px;
}
.search-button{
	position:absolute;
	top:0;
	right:0;
	width:60px;
}
.coupon-list .coupon-container{
	width:calc(100%/3 - 20px);
	float:left;
	border:1px solid black;
	padding:10px;
	user-select:none;
	cursor:default;
	box-sizing:border-box;
	margin:10px;

	position:relative;
}
.coupon-container > *{
	padding:5px;
}
.coupon-checkbox-wrap{
	position:absolute;
	width:auto;
	display:block;
	right:0;
	top:0;
}
.fancybox-inner .coupon-checkbox-wrap{
	display:none;
}


.couponCheck.red{
	background:#ea3939;
	color:white;
}
.couponCheck.green{
	background:#88ea39;
	color:white;
}
.pager li{
	display:inline-block;
	font-size:20px;
}
.pager li > *{
	padding:0px 5px;
}
.pager{
	margin:10px;
}
.pager li .active{
	font-size:20px;
	color:white;
	background:rgba(0,0,0,0.8);
}
.pager li .next, .pager li .prev{
	border:1px solid black;
}
.pager li .next:after, .pager li .prev:before{
	content:"\f105";
	font-family: "FontAwesome";
	display:inline-block;
	padding:0px 5px;
}
.pager li .prev:before{
	content:'\f104';
}
.pager li *:hover{
	background:rgba(0,0,0,0.8);
	color:white;
}
/* QUERIES */
@media all and (min-width: 480px) and (max-width: 639px) {
	
}

@media all and (min-width: 640px) and (max-width: 799px) {
	
}
@media all and (min-width: 800px) and (max-width: 959px) {
	
}
@media all and (min-width: 960px) and (max-width: 1119px) {
	
}
@media all and (min-width: 1120px) and (max-width: 1279px) {
	
}
@media all and (max-width: 1280px) {
	
}
@media all and (max-width: 1120px) {
	
}
@media all and (max-width: 960px) {
	#wrapper{
		margin:0px;
		padding:10px;
	}
	#wrapper > div{
		margin-top:56px;
	}

	.inline-960{
		display:inline-block !important;
	}
	.player-info{
		width:100%;
		display:block;
		text-align:center !important;
		margin:0px;
	}
	.player-info h2, .player-info i{
		padding:2px;
	}
	.player-info > div{
		display:inline-block;
		vertical-align:middle;
	}
	.player-info .progress-circle-container{
		min-width:60px;
		font-size:14px;
	}
	.player-info:last-child > div{
		display:inline-block;
		width:auto;
	}
	.player-16-9{
		width:25%;
		padding-bottom:14.25%;
	}
}



@media all and (max-width: 1279px){
	
}
@media all and (max-width: 900px){
	table th.noman, table td.noman{
		display:none;
	}
	table .detailbtn{
		display:initial;
	}
}
@media (max-width: 768px) {
	.right-text{
		text-align:center;
	}
	.left-text{
		text-align:center;
	}
	
	.flex{
		display:block;
	}
	#top > div{
		width:auto;
	}
	.head{
		position:initial;
		overflow:visible;
		padding:0px;
	}
	.head > div:nth-child(2), .head.fixed > div:nth-child(2){
		position:relative;
		overflow:visible;
		height:0;
		width:100%;
	}
	nav.headerNav{
		/* top: 19px; */
		left:-100%;
		bottom:0;
		width:100%;
		background-color:rgba(0,0,0,0.8);
	}
	nav.headerNav.open{
		left:0;
		animation-name:fadeInLeft;
		animation-delay:0s;
		animation-fill-mode:both;
		animation-duration:0.4s;
	}
	nav.headerNav.close{
		left:0;
		animation-name:fadeOutLeft;
		animation-delay:0s;
		animation-fill-mode:both;
		animation-duration:0.4s;
	}
	nav.headerNav ul{
		position:initial;
	}
	
	nav.headerNav li.active:before{
		display:none;
	}
	nav.headerNav li{
		position:initial;
		padding:0px;
		display:block;
		text-align:center;
	}
	nav.headerNav li a{
		padding:10px;
		display:block;
	}
	#headerLogo{
		
		padding-bottom:27px;
	}
	.head > div {
		vertical-align: text-bottom;
		width: 100%;
	}
	.head > div.col2:nth-child(1), .head.fixed > div.col2:nth-child(1)  {
		width: 100%;
	}
	.head.fixed #userContainer, #userContainer{
		position:absolute;
		top:0px;
		left:0;
		right:initial;
		margin:0px auto;
		display:inline-block;
		font-size:60%;
		width:auto;
	}
	#userContainer > div{
		display:inline-block;
	}
	#userContainer span{
		width:initial;
		margin:0px;
	}
	#headerLogo img{
		max-width:100%;
		max-height:100%;
		width:auto;
		height:auto;
		left:0;
		right:0;
		margin:0px auto;
		position:absolute;
		top:50%;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		transform:translateY(-50%);
	}

}
@media all and (max-width: 480px) {
	.player-16-9{
		width:50%;
		padding-bottom:23.25%;
	}
}
@media all and (min-width: 960px){
	
}
@media all and (min-width: 1280px){
	
}
@media all and (min-width: 1920px){
	
}
/* QUERIES */

