
<div class="container-fluid">
    <h2>Idő beállítása</h2>
    <form method="POST" id="setDateForm">
        <div class="form-group">
            <div class="row">
            

                
                <div class="col-4">
                    <label for="year">Év</label>
                    <input type="text" class="num form-control" maxlength="4" name="year" id="year" placeholder="Év" value="${year}"/>
                </div>
                <div class="col-4">
                    <label for="month">Hónap</label>
                    <input type="text" class="num form-control" maxlength="2" name="month" id="month" placeholder="Hónap" value="${month}" />
                </div>
                <div class="col-4">
                    <label for="day">Nap</label>
                    <input type="text" class="num form-control" maxlength="2" name="day" id="day" placeholder="Nap" value="${day}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
            
                <div class="col-6">
                    <label for="hour">Óra</label>
                    <input type="text" class="num form-control" maxlength="2" name="hour" id="hour" placeholder="Óra" value="${hour}" />
                </div>
                <div class="col-6">
                    <label for="minute">Perc</label>
                    <input type="text" class="num form-control" maxlength="2" name="minute" id="minute" placeholder="Perc" value="${minute}"/>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input class="form-control" type="submit" value="Mentés" />
            </div>
            <div class="col-6">
                <input class="form-control" type="button" value="Mégsem" id="cancelDateForm" />
            </div>
        </div>
    </form>
</div>