/*----------------------------------------------
*
* [Default Stylesheet]
*
* Theme    : NEXGEN
* Version  : 1.0
* Author   : Codings
* Support  : codings.dev
* 
----------------------------------------------*/

/*----------------------------------------------

[ALL CONTENTS]

1. Root
2. Button
3. Effect

----------------------------------------------*/

/*----------------------------------------------
1. Root
----------------------------------------------*/

/* #region Root */

:root {
    --h1-font: 'Poppins', sans-serif;
    --h1-size: 4.5rem;
    --h1-weight: 900;

    --h2-font: 'Poppins', sans-serif;
    --h2-size: 3rem;
    --h2-weight: 700;

    --p-font: 'Montserrat', sans-serif;
    --p-size: 1rem;
    --p-weight: 400;

    --header-bg-color: #21333e;
    --nav-top-bg-color: #21333e;
    --nav-sub-bg-color: #21333e;
    --nav-holder-bg-color: #21333e;
    --nav-brand-height: 35px;
    --nav-item-color: #f9f9f9;
    --hero-bg-color: #111117;
    --footer-brand-height: 80px;

    --primary-color: #F2744A;
    --secondary-color: #F2742A;

    --white-color: #ffffff;
    --black-color: #000007;
    --dark-grey-color: #111117;

    --primary-t-color: #21333e;
    --secondary-t-color: #f9f9f9;
    --primary-p-color: #606d75;
    --secondary-p-color: #c0c3d0;
    --primary-b-color: #f9f9f9;
    --primary-l-color: rgba(0, 0, 0, .25);
    --secondary-l-color: rgba(255, 255, 255, 0.35);

    --valid-color: #007a4d;
    --valid-h-color: #039660;
    --invalid-color: #e34f4f;

    --primary-bg-color: #f9f9f9;
    --primary-bg-color-2: #f1f1f1;
    --primary-bg-color-3: rgba(5, 130, 131, 0.15);

    --secondary-bg-color: #111117;
    --secondary-bg-color-2: #080d10;
    --secondary-bg-color-3: #191919;

    --card-bg-color: #ffffff;

    --footer-bg-color: #111117;
}

/* #endregion Root */

/*----------------------------------------------
2. Button
----------------------------------------------*/

/* #region Button */

.primary-button,
.primary-button:visited,
.primary-button:active {
    position: relative;
    z-index: 2;
    padding: 10px 25px;
    background-color: var(--primary-color);
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--primary-color);
    color: var(--primary-b-color);
    font-weight: 500;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.primary-button:hover,
.primary-button:focus {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white-color);
}

.outline-button,
.outline-button:visited,
.outline-button:active {
    position: relative;
    z-index: 2;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.success-button,
.success-button:visited,
.success-button:active {
    position: relative;
    z-index: 2;
    padding: 10px 25px;
    background-color: var(--valid-color);
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--primary-b-color);
    color: var(--primary-b-color);
    font-weight: 500;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.odd .outline-button,
.odd .outline-button:visited,
.odd .outline-button:active {
    position: relative;
    z-index: 2;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--primary-color);
    color: var(--primary-b-color);
    font-weight: 500;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.outline-button:hover,
.outline-button:focus {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.success-button:hover,
.success-button:focus {
    background-color: var(--valid-h-color);
}

.bh-rotate {
    position: relative;
    /* line-height: 0; */
    transform-origin: center center;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: bh-rotate;
}

.bh-rotate::before {}

.bh-striped>:nth-of-type(odd) {
    background: #f8f8f8;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}


/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font: var(--p-font);
} */

/* #endregion Button */

/* #region Effect */

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--secondary-color);
        background-color: var(--secondary-color);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        background-color: rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        background-color: rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 var(--secondary-color);
        box-shadow: 0 0 0 0 var(--secondary-color);
        background-color: var(--secondary-color);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        background-color: rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        background-color: rgba(204, 169, 44, 0);
    }
}

@keyframes bh-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.uk-text-primary {
    color: #f2744a !important;
}


.uk-link,
a {
    color: #508d48;
}

/* #endregion Effect */

ul.bh-counter {
    counter-reset: li-count;
    padding-left: 10px;
}

ul.bh-counter li {
    counter-increment: li-count;

}

ul.bh-counter li:before {
    content: counter(li-count) '. ';
    font-weight: bold;
    position: relative;
    left: -10px;

}

.loading{
	min-height:20px;
	text-align:center;
	position:relative;
	pointer-events:none;
	filter:blur(1px);
}

.loading:after {
	
	content:"";
	display:inline-block;
	position:absolute;
	top:calc(50% - 10px);
	left: calc(50% - 10px);
	border: 3px solid #f0f0f0;
	border-radius: 50%;
	border-top: 3px solid #3498db;
	text-align:center;
	width:20px;
	height:20px;
	-webkit-animation: spin 0.5s linear infinite; /* Safari */
	animation: spin 0.5s linear infinite;
	filter:none;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 1366px) {
    .block .controlButtons i {
        font-size: 10px;
    }

    .block .controlType {
        font-size: 10px;
        display: block;
    }

    .block .temp,
    .block .uk-label {
        font-size: 12px;
    }
}

@media (max-width: 1920px) {
    .block .controlButtons i {
        font-size: 25px;
    }

    .block .controlButtons>* {
        /*margin:10px;
        /*font-size:30px;*/
    }
}